<%- include('./partials/header')%>

<%- include('./partials/navbar') %>
 
<main class="w-full grow">
  
<%- include("./partials/flash.ejs") %>

  <!-- Profile Section -->
  <div class="max-w-5xl mx-auto mt-6 px-6">
    <div class=" flex items-center gap-4">
      <a href="<%=user.profilePic%>">
      <img
        class="w-14 h-14 object-cover rounded-full border-2 border-orange-400"
        src="<%=user.profilePic%>"
        alt="DP"
      />
      </a>
      <div>
        <h2 class=" text-xl sm:text-2xl font-semibold">
          Hello, <span class="text-orange-400"><%=user.name%></span> 👋
        </h2>
        <p class="text-zinc-400 text-sm">Share something today</p>
      </div>
    </div>

    <!-- Create Post -->
    <form class="mt-6 " action="/post" method="post">
      <div class="flex flex-col gap-2">
        <input type="text" name="title" placeholder="Enter the title" class="form-input"/>
      <textarea
        class="form-input"
        rows="4"
        name="content"
        placeholder="What's on your mind?"
      ></textarea>
      </div>
      
      <button
        class="submit-button"
        type="submit"
      >
        post
      </button>
    </form>
  </div>

  <!-- Posts Section -->
  <div class="max-w-5xl mx-auto mt-12 mb-5 px-6">
    <h2 class="text-lg font-semibold mb-6 text-zinc-300">Your Blogs</h2>

    <% if (user.posts.length === 0) { %>
  <div class="text-center text-zinc-400 mt-6">
    <p class="text-lg font-medium">No posts yet</p>
    <p class="text-sm mt-2">Start sharing your thoughts with the world.</p>
  </div>
<% } %>
    <div class="grid grid-cols-1 h-full auto-rows-fr sm:grid-cols-2 md:grid-cols-3 gap-6">
      
      <% user.posts.reverse().forEach((post)=>{ %>

      <div class="flex flex-col  bg-zinc-800 rounded-2xl  shadow-xl hover:scale-[1.01]  hover:shadow-orange-500/10 transition duration-300 ease-in border border-zinc-700">
        <div class="p-3 border-b border-zinc-700 font-semibold text-white text-lg"><%=post.title%></div>
        <a href="/blog/<%=post._id%>" class="grow p-3 ">
  <p class=" text-zinc-300 text-sm leading-relaxed wrap-break-word line-clamp-4">
          <%= post.content %>
        </p>

        
      </a>
        <div class=" p-3 text-xs text-zinc-500">
          <a href="/likes/<%=post._id%>"><%= post.likes.length %> likes</a>
        </div>
      

        <div class="mt-auto border-t  border-zinc-700 flex justify-between p-3 text-sm">
          <a
            class="hover:text-pink-400 transition"
            href="/like/<%=post._id%>"
          >
            <%= post.likes.some(id=>id.toString()===user._id.toString()) ? 'Like ❤️' : 'Like 🤍' %>
          </a>
          <div class=" flex gap-3">
            
          <a
            class=" hover:text-blue-400 transition duration-300 ease-in"
            href="/edit/<%=post._id%>"
          >
            Edit 
          </a>
          <a class="hover:text-red-500 transition duration-300 ease-in" href="/delete/<%=post._id%>">delete</a>
          </div>
        
        </div>

      </div>

      <% }) %>

    </div>
  </div>

  </main>


<%- include('./partials/footer') %>
